<%- include ('../partials/header') %>

<div class="starter-template">
    <h1>Control</h1>
    <div class="container">
        <div class="col-md-12">
            <% posts.forEach(post => { %>
            <h1><%- post.title %></h1>
            <p><%- post.content %></p>
            <div>
                <span class="badge"><%- post.date %></span>
            </div>
            <hr>
            <% }); %>
        </div>
    </div>
</div>

<%- include ('../partials/footer') -%>