<%- include ('../partials/header') %>

<div class="starter-template">
    <h1>Pessoar</h1>
    <a class="btn btn-success" href="/person/create">Criar Nova Pessoa</a>
    <div class="container">
        <div class="col-md-12">
            <% people.forEach(person => { %>
            <h1><%- person.name %></h1>
            <p><%- person.occupation %></p>
            <div>
                <span class="badge"><%- person.birthdate %></span>
            </div>
            <div class="btn-group" role="group">
                <a class="btn btn-warning" href="/person/edit/<%= person.id%>">Editar</a>
                <!-- onclick cames before href on bubble, confirm it is sync, true continue, false break -->
                <a class="btn btn-default alert-info" href="/person/delete/<%= person.id%>"
                    onclick="return confirm('Vai deletar mesmo?')">Excluir</a>
            </div>
            <hr>
            <% }); %>
        </div>
    </div>
</div>

<%- include ('../partials/footer') -%>